build/
libs/openvr/samples
libs/openvr_newer
tools/sort_points/bin/
tools/sort_points/obj/
tools/sort_points/.vs
tools/sort_points/Sort_Frugal/Debug
tools/sort_points/Sort_Frugal/Release
tools/sort_points/Sort_Frugal/.vs
imgui.ini
program*.cubin
libs/cccl-main/.devcontainer
libs/cccl-main/.github
libs/cccl-main/benchmarks
libs/cccl-main/ci
libs/cccl-main/cmake
libs/cccl-main/docs
libs/cccl-main/examples
libs/cccl-main/lib
libs/cccl-main/test
libs/cccl-main/thrust
libs/cccl-main/cub/benchmarks/
libs/cccl-main/libcudacxx/test/
recording_*.bin
test.ply
cuda_compile_time.txt
consolefile.txt
consolefile_errors.txt
resources/images/symbols.kra~
resources/images/symbols.png~
heightmap_colors.png
heightmap_colors_median.png
ca13_40m_heightmap_colors_median.png~
ca13_40m_heightmap_colors_median.png
ca13_40m_heightmap_colors.png
ca13_10m_heightmap_colors_median.png
test.splatsy
test - Kopie (2).splatsy
test - Kopie.splatsy
defaultscene.splatsy
defaultscene.splatsy.old
defaultscene.splatsy.old2
defaultscene.splatsy.old3
cubins_1/gaussians.cubin
cubins_1/helpers.cubin
cubins_1/lines.cubin
cubins_1/points.cubin
cubins_1/triangles.cubin
cubins/gaussians.cubin
cubins/helpers.cubin
cubins/lines.cubin
cubins/points.cubin
cubins/triangles.cubin
savefile/
defaultscene.splatsy_old
defaultscene.splatsy_old3
savefile_ref/
savefile_lantern/



# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
# but not Directory.Build.rsp, as it configures directory-level build defaults
!Directory.Build.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml
resources/meshes/Cube_70.glb
resources/meshes/Kannonzaki.glb
resources/meshes/Sponza_70.glb
resources/meshes/Sponza_90.glb
resources/meshes/hameau_5M_jpeg90.glb
resources/meshes/lichtung_1M_jpeg90.glb
resources/meshes/seebach.glb
resources/meshes/anita_mui_jpeg40.glb
resources/meshes/anita_mui_jpeg50.glb
resources/meshes/anita_mui_jpeg60.glb
resources/meshes/anita_mui_jpeg70.glb
resources/meshes/anita_mui_jpeg80.glb
resources/meshes/anita_mui_jpeg90.glb
resources/meshes/anita_mui_png.glb
resources/meshes/hameau_2025.08.25_jpeg60.glb
resources/meshes/hameau_2025.08.25_jpeg90.glb

evaluation/plots/*
resources/textures/asphalt_04_diff_4k_q60.jpg
resources/textures/brick_wall_006_diff_4k_q60.jpg
resources/textures/checkered_pavement_tiles_diff_4k_q60.jpg
resources/textures/coast_sand_01_diff_4k_q60.jpg
resources/textures/coast_sand_q60.jpg
resources/textures/coral_gravel_diff_4k_q60.jpg
resources/textures/denmin_fabric_02_diff_4k_q60.jpg
resources/textures/dry_riverbed_rock_diff_4k_q60.jpg
resources/textures/fabric_leather_02_diff_4k_q60.jpg
resources/textures/fabric_pattern_07_col_1_4k_q60.jpg
resources/textures/gray_rocks_diff_4k_q60.jpg
resources/textures/Ground082S_4K-PNG_Color_q60.jpg
resources/textures/leaves_forest_ground_diff_4k_q60.jpg
resources/textures/metal_grate_rusty_diff_4k_q60.jpg
resources/textures/mud_cracked_dry_03_diff_4k_q60.jpg
resources/textures/Onyx010_4K-PNG_Color_q60.jpg
resources/textures/patterned_paving_02_diff_4k_q60.jpg
resources/textures/PavingStones126A_4K-PNG_Color_q60.jpg
resources/textures/pine_bark_diff_4k_q60.jpg
resources/textures/plastic_q60.jpg
resources/textures/random_bricks_thick_diff_4k_q60.jpg
resources/textures/rock_face_03_diff_4k_q60.jpg
resources/textures/rustic_stone_wall_02_diff_4k_q60.jpg
resources/textures/rusty_metal_03_diff_4k_q60.jpg
resources/textures/snow_q60.jpg
resources/textures/Terrazzo012_4K-PNG_Color_q60.jpg
resources/textures/texture420.jpg
resources/textures/weathered_brown_planks_diff_4k_q60.jpg
resources/DEM/gisborne/gisborne_dem_16bit.png
resources/DEM/gisborne/gisborne_dem.png
resources/DEM/gisborne/gisborne_texture_43584_27648.bin
resources/DEM/gisborne/gisborne_texture_small.jpg
resources/DEM/gisborne/gisborne_texture.png
resources/DEM/gisborne2/dem_test.png
resources/DEM/gisborne2/dem.png
resources/DEM/gisborne2/texture_43584_27648.bin
resources/DEM/gisborne2/gisborne_dem.png
resources/DEM/gisborne2/dem_half.png
resources/DEM/gisborne2/dem_smaller.png
resources/DEM/gisborne2/dem_tiny.png
resources/meshes/australia_gas_30M_textured.glb
resources/meshes/test/positions.bin
resources/meshes/test/texture_8192_8192.bin
resources/meshes/test/uvs.bin

_project/
make.bat
dbg.glb.json
screenshots/*
benchmarks/*
